*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
/* /HEADER */

/* MAIN */
main {
    background-color: #DDDDDD;
   
    font-size: 25px;
}
.ap_midcontainer {
    background-color: #29B1DE;
    height: 60px;
}

#select-type{
    height: 40px;
}


.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    height: 100px;
    width: 200px;
    border-radius: 5px;
}
/* /MAIN */